* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1500px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

header {
  background-color: #d8d8d8;
  width: 100%;
  height: 90px;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1em;

  .bx-menu {
    font-size: 2em;
  }
}

.logoNav {
  height: 80%;

  img {
    height: 100%;
  }
}

/* sección menú */
.menu {
  background-color: #d8d8d8;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: -100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding-top: 4.5em;
  transition: all 0.2s ease-in-out;

  p {
    font-size: 1.3em;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
  }

  li {
    list-style: none;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

/* sección blog */
.contenidoPrincipal {
  width: 100%;
}

.titulos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imgTitulo {
    height: 8em;
    margin-bottom: -1em;

    img {
      height: 80%;
    }
  }

  div {
    h1,
    h2 {
      text-align: center;
    }
  }
}

/* articulos blog */
.articulosBlog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  .articulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .infArticulo {
      width: 100%;
      padding: 10px;

      h2,
      h3 {
        text-align: center;
        font-family: "Roboto", sans-serif;
        margin: 0.5em 0;
      }
    }
  }
}

.imgArticulo {
  width: 100%;

  img {
    width: 100%;
  }
}

.anuncios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .buscar {
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    input {
      border-radius: 0.5rem;
      padding: 0.3em;
      text-align: center;
    }
  }

  article {
    width: 100%;

    span {
      display: block;
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
    }
  }
}

footer {
  background-color: #d8d8d8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;

  .redesSociales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }
  }
}

@media (min-width: 500px) {
}

@media (min-width: 740px) {
  .anunciosArticulos {
    display: flex;
    gap: 2em;
    padding: 1em;

    .articulosBlog {
      width: 50%;
    }

    .anuncios {
      width: 50%;
      justify-content: flex-start;
      gap: 0.5em;
    }
  }
}

@media (min-width: 1270px) {
  main {
    padding: 0 20px;
  }
  nav {
    flex-direction: row;
    gap: 1em;

    #menuHamburguesa {
      display: none;
    }
  }

  #menu {
    height: 100%;
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    padding-top: 0;
    transition: all 0.2s ease-in-out;
    font-size: 1.2em;

    p {
      display: none;
    }

    li:hover {
      background-color: rgb(2, 231, 231);
    }
  }

  .anunciosArticulos {
    .articulosBlog {
      width: 70%;
    }

    .anuncios {
      width: 30%;
    }
  }

  .articulosBlog {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;

    .articulo {
      height: 500px;
      flex-direction: row;
      align-items: center;
    }
  }
}
